<!DOCTYPE html>
<html>
  <head>
    <title>Calendar App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- bootstrap css-->
		<link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <h1> Calendar App </h1>

    <div class="container text-center">
      <h2>October 2017</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1<div class="square" id="1">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 1) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
          </div></td>
            <td>2<div class="square" id="2">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 2) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>3<div class="square" id="3">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 3) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>4<div class="square" id="4">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 4) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>5<div class="square" id="5">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 5) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>6<div class="square" id="6">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 6) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>7<div class="square" id="7">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 7) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
          </tr>
          <tr>
            <td>8<div class="square" id="8">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 8) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>9<div class="square" id="9">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 9) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>10<div class="square" id="10">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 10) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>11<div class="square" id="11">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 11) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>12<div class="square" id="12">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 12) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>13<div class="square" id="13">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 13) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>14<div class="square" id="14">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 14) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
          </tr>
          <tr>
            <td>15<div class="square" id="15">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 15) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>16<div class="square" id="16">
              <% calendars.forEach(function(calendar){ %>
              <% if( calendar.date == 16) { %>
                <div class="alert alert-warning">
                  <%= calendar.starttime %> to <%= calendar.endtime %>
                  <p><%= calendar.description %></p>
                </div>
              <% } %>
            <% }) %>
            </div></td>
            <td>17<div class="square" id="17">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 17) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>18<div class="square" id="18">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 18) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>19<div class="square" id="19">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 19) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>20<div class="square" id="20">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 20) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>21<div class="square" id="21">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 21) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
          </tr>
          <tr>
            <td>22<div class="square" id="22">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 22) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>23<div class="square" id="23">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 23) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>24<div class="square" id="24">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 24) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>25<div class="square" id="25">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 25) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>26<div class="square" id="26">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 26) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>27<div class="square" id="27">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 27) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>28<div class="square" id="28">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 28) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
          </tr>
          <tr>
            <td>29<div class="square" id="29">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 29) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>30<div class="square" id="30">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 30) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td>31<div class="square" id="31">
              <% calendars.forEach(function(calendar){ %>
                <% if( calendar.date == 31) { %>
                  <div class="alert alert-warning">
                    <%= calendar.starttime %> to <%= calendar.endtime %>
                    <p><%= calendar.description %></p>
                  </div>
                <% } %>
              <% }) %>
            </div></td>
            <td><div class="square"></div></td>
            <td><div class="square"></div></td>
            <td><div class="square"></div></td>
            <td><div class="square"></div></td>
          </tr>
        </tbody>
    </table>
  	</div>

    <script>
    events();
    function events() {
      $(".square").each(function(){
        var square = this;
        calendars.forEach(function(calendar){

        })
      });
    }
    </script>
    <script type="text/javascript" src="/javascripts/event.js"></script>
  </body>
</html>
